body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.45;
}

body a {
	color: #01A797;
}

h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 700;
}

h1 {
	font-size: 44px;
}

footer {
	background-color: #303030;
	color: #6e6e6e;
	min-height: 200px;
	padding-top: 60px;
}

footer a {
	color: rgb(150, 150, 150);
}

.container {
	max-width: 940px;
}

#dlpmainheader {
	text-transform: lowercase;
}

.navbar
{
	background-color: #303030;
	border-bottom: 5px solid #ff4040;
}

.navbar-nav > li > a:hover
{
	color: #777;
}

.navbar .container { height: 2em; width: 100%; }

.navbar-brand
{
	max-width: 350px;
	font-family: 'Roboto Slab';
	font-size: 16px;
	padding: 20px 15px;
	color: #FFFFFF;
}

.navbar-brand:hover {
	color: #777;
}

.nav-collapse
{
	float: right;
}

.navbar-nav > li > a {
	color: #FFFFFF;
	font-size: 14px;
	padding: 20px 24px;
	font-weight: 400;
}

#myCarousel
{
	margin-top: 63px;
	margin-bottom: 35px;
	height: 464px;
	background-color: #CECECE; 
	background-image: url('../images/cropped_home_5.png');
	background-size: cover;
	background-repeat:no-repeat; 
	background-position:center top; 
}

#myCarouselCaption
{
	z-index: 2;
	margin-top: 90px; 
	padding: 10px; 
	color: #FFFFFF; 
	font-size: 1.3em;
	width: 400px;
}

#myCarouselCaption h1 {
	margin-bottom: 20px;
}

.section-header {
	text-align: center;
	font-size: 28px;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: 300;
}

.call-to-action a {
	display: block;
	position: relative;
	width: 290px;
	height: 180px;
	background-size: 290px 290px;
	color: #FFFFFF;
	font-family: "Roboto Slab";
	font-size: 32px;
	font-weight: 700;
	padding: 70px 50px;
	text-align: center;
}

#projects {
	background-image: url("../images/local1.jpg");
}

#volunteer {
	background-image: url("../images/nicaragua1.jpg");
}

#donate {
	background-image: url("../images/hongkong1.jpg");
}

.call-to-action a:hover {
	text-decoration: none;
}

.call-to-action a span {
	z-index: 5;
	position: relative;
}

.description {
	font-size: 18px;
	font-weight: 300;
	padding: 20px 25px 0 25px;
	text-align: center;
}

.cover::before {
	content: '';
	z-index: 2;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.45);
}

.cover:hover::before {
	background: transparent;
}

.btn-default {
	background-color: #00A3A3;
	border: 0;
	font-size: 18px;
}

.row {
	margin-top: 30px;
}

.col-lg-4
{
	padding-top: 8px;
}

.maincontainer
{
	padding-top: 60px;
}

.mission
{
	padding-top: 4px;
	padding-bottom: 10px;
	border-top: 4px solid #33cccc;
}

#impact {
	background: #00B5B5;
	color: #FFFFFF;
	padding-top: 50px;
	min-height: 410px;
	margin: 0;
}

#impact p {
	padding: 0 20px;
	text-align: center;
}

.stat {
	font-family: "Roboto Slab";
	font-size: 64px;
	font-weight: 700;
}

.stat-description {
	font-size: 16px;
	font-weight: 300;
}

.initiatives h2
{
	position: relative;
	text-align: center;
	color: #fff;
	top: 540px;
	z-index: 2;
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size: 3.5em;
}

.initimg img
{
	padding-bottom: 5px;
}