body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.45;
}

body a {
	color: #00A3A3;
}

body a:hover {
	text-decoration: none;
	color: #0FB8B8;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab';
	font-weight: 700;
}nav

h1 {
	font-size: 44px;
}

footer {
	background-color: #303030;
	color: #6e6e6e;
	min-height: 200px;
	padding-top: 60px;
}

footer a {
	color: rgb(150, 150, 150);
}

footer a:hover {
	text-decoration: none;
	color: rgb(200,200,200);
}

.paypal button {
	font-size: 32px;
}nav

button:focus {
	outline-width: none;
}

.btn-default:active, .btn-default:focus {
	background: #00A3A3;
}

::selection {
	background: #00B5B5;
	color: #FFFFFF;
}

.container {
	max-width: 940px;
}

#dlpmainheader {
	text-transform: lowercase;
}

.navbar
{
	background-color: #303030;
	border-bottom: 3px solid #ff4040;
	box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

.row p {
	font-size: 18px;
}

.navbar-nav > li > a {
	color: #FFFFFF;
	font-size: 14px;
	padding: 20px 24px;
	font-weight: 400;
	transition: color .15s ease-in-out;
	border-left: 1px solid #393939;
	border-right: 1px solid #222;
}

.navbar-nav > li:first-of-type > a {
	box-shadow: -1px 0 0 #222;
}

.navbar-nav > li:last-of-type > a {
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #393939;
}

.navbar-nav:hover li > a {
	color: #777;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.navbar-nav > li > a:hover
{
	color: #FFF;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
	background-color: #ff4040;
}

/*.navbar-nav > li:hover ~ li > a, .navbar-nav > li:not(:hover) ~ li > a:hover
{
	color: #777;

}*/

.navbar .container { height: 2em; width: 100%; }

.navbar-brand
{
	max-width: 350px;
	font-family: 'Roboto Slab';
	font-size: 16px;
	padding: 20px 15px;
	color: #FFFFFF;
}

.navbar-brand:hover {
	color: #777;
	transition: color .15s ease-in-out;
}

.nav-collapse
{
	float: right;
}

#myCarousel
{
	margin-top: 63px;
	margin-bottom: 35px;
	height: 464px;
	background-color: #CECECE; 
	background-image: url('../images/cropped_home_5.png');
	background-size: cover;
	background-repeat:no-repeat; 
	background-position:center top; 
}

#myCarouselCaption
{
	z-index: 2;
	margin-top: 90px; 
	padding: 10px; 
	color: #FFFFFF; 
	font-size: 1.3em;
	width: 400px;
}

#myCarouselCaption h1 {
	margin-bottom: 20px;
}

.section-header {
	text-align: center;
	font-size: 28px;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: 300;
}

.call-to-action a {
	display: block;
	position: relative;
	width: 290px;
	height: 180px;
	background-size: 290px 290px;
	color: #FFFFFF;
	font-family: "Roboto Slab";
	font-size: 32px;
	font-weight: 700;
	padding: 70px 50px;
	text-align: center;
}

.call-to-action a:hover {
	color: #FFFFFF;
}

.call-to-action.our-initiatives {
	padding-left: 0;
}

.call-to-action.our-initiatives a {
	width: 440px;
	height: 500px;
	padding-top: 140px;
	font-size: 64px;
	background-size: cover;
	margin-right: 10px;
}

#local {
	background-image: url("../images/local3.jpg");
}

#global {
	background-image: url("../images/hongkong1.jpg");
}

#projects {
	background-image: url("../images/local1.jpg");
}

#volunteer {
	background-image: url("../images/nicaragua1.jpg");
}

#donate {
	background-image: url("../images/hongkong1.jpg");
}

.call-to-action a:hover {
	text-decoration: none;
}

.call-to-action a span {
	z-index: 5;
	position: relative;
}

.description {
	font-size: 18px;
	font-weight: 300;
	padding: 20px 25px 0 25px;
	text-align: center;
}

.cover::before {
	content: '';
	z-index: 2;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.45);
}

.cover:hover::before {
	background: transparent;
	transition: background .15s ease-in-out;
}

.btn-default {
	border: 0;
	font-size: 18px;
}

.teal {
	background-color: #00A3A3;
}

.teal:hover {
	background-color: #0FB8B8;
}

#volunteer-btn {
	font-size: 21px;
}

#apply-btn {
	font-size: 42px;
}

.centered {
	text-align: center;
}

.row {
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
}

.maincontainer > .row:last-of-type {
	margin-bottom: 80px;
}

.col-lg-4
{
	padding-top: 8px;
}

.maincontainer
{
	padding-top: 60px;
}

.mission
{
	padding-top: 4px;
	padding-bottom: 10px;
}

#impact {
	background: #00B5B5;
	color: #FFFFFF;
	padding-top: 50px;
	min-height: 410px;
	margin: 0;
}

#impact p {
	padding: 0 20px;
	text-align: center;
}

p.stat {
	font-family: "Roboto Slab";
	font-size: 64px;
	font-weight: 700;
}

.stat-description {
	font-size: 16px;
	font-weight: 300;
}

.initiatives h2
{
	position: relative;
	text-align: center;
	color: #fff;
	top: 540px;
	z-index: 2;
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size: 3.5em;
}

.initimg img
{
	padding-bottom: 5px;
}

.page-title {
	margin-top: 80px;
}

.center {
	text-align: center;
}

#mission-statement {
	font-size: 32px;
	font-weight: 700;
	color: #00A3A3;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 200px;
}

#sponsors-list {
	margin-top: 50px;
}

#team h2 {
	font-family: 'Roboto Slab';
	font-weight: 700;
	margin-top: 10px;
}

#team h4 {
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	font-size: 16px;
	color: #00A3A3;
}

#team .col-lg-4 {
	text-align: right;
}

#team .col-lg-4 img {
	width: 260px;
	height: 260px;
}

#team .col-lg-8 p {
	padding-right: 80px;
}

#two-girls {
	width: 700px;
}

#donation-explanation {
	margin-top: 30px;
}

#donation-explanation p {
	text-align: left;
	padding-bottom: 10px;
}

#donation-explanation h2 {
	margin-bottom: 30px;
}

.make-a-difference {
	font-size: 32px !important;
	font-weight: 700;
	color: #00A3A3;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

.donate .row {
	margin-top: 15px;
}
