body {
    font-family: 'Droid Sans', sans-serif;
}

.navbar
{
	background-color: #fff;
	border-top: 5px solid #ff4040;
}

.navbar a
{
	color: #1C1C1C;
}

.navbar .container { height: 2em; width: 100%; }

.navbar-brand
{
	max-width: 350px;
}

.nav-collapse
{
	background-color: #fff;
}

#myCarousel
{
	height: 800px;
	background-color: #CECECE; 
	background-image: url('../images/cropped_home.jpg');
	background-size: auto 102%;
	background-repeat:no-repeat; 
	background-position:center top; 
}

#myCarouselCaption
{
	z-index: 2;
	margin-top: 550px; 
	padding: 10px; 
	color: #1C1C1C; 
	background-color: rgba(240, 240, 240, 0.7); 
	border: 2px solid #CECECE;
	text-align: center;
	font-size: 1.3em;
}

.col-lg-4
{
	padding-top: 8px;
}

.maincontainer
{
	padding-top: 60px;
}

.mission
{
	padding-top: 4px;
	padding-bottom: 10px;
	border-top: 4px solid #33cccc;
}

.initiatives
{
	margin-top: -50px;
	cursor: pointer;
	text-align: center;
}

.initiatives h2
{
	position: relative;
	text-align: center;
	color: #fff;
	top: 540px;
	z-index: 2;
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size: 3.5em;
}

.initimg img
{
	padding-bottom: 5px;
}